#nav-menu {
  background-size: cover;
  background-position: center;
  height: 250px;
  background-image: url(../image/imgs-navbar/derretido-200.svg);
  position: relative; 
  padding: 30px;
}

.nav-content{
  position: absolute; 
  bottom: 80px; 
  left: 0px;
  right: 10px;

}

@media screen and (max-width:986px) {
  .list {
    width: 100% !important;
    height: 100vh !important;
    margin: 0px !important;
    padding: 30px !important;
    background-color: #ffbed7 !important;
    text-align: left !important;
    position: absolute !important;
    top: 5rem !important;
    left: 0px !important;
  }

}

.navbar-nav li {
  font-weight: bold;
}

#logo {
  width: 150px;
  height: 100px;
  position: relative;
  right: 0px;
  left: 0px;
  bottom: 40px;
}

.icon {
  width: 25PX;
  height: 25PX;
}