@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  background: linear-gradient(to top, #FDE1B9, #FCFCEC);
}

.titulos{
  font-weight: 700;
}

.contenedor-imagen {
  margin: 80px 0 80px 0;
  background-image: url(../image/imgs-pagina-acercade/1-banner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 750px;
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;
  
}

@media only screen and (max-width: 768px) {
  .contenedor-imagen{
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 500px;
  }
  
  .texto-imagen{
    width: 300px;
  }
}

.texto-imagen {
  border-radius: 10px;
  width: 500px;
  text-align: center;
  padding: 30px;
  color: #000000;
  background-color: #FAB9D1;

}

#fondo {
  height: 350px;
  background-position: center;
  background-size: cover;
  text-align: justify;
}

.imagen-1 {
  width: 190px;
  height: 120px;
  margin-left: 95px;
}

.imagen-2 {
  width: 190px;
  height: 120px;
  margin-left: 95px;
}

.contenedor {
  display: flex;
}

.txt-1 {
  margin: 0px 205px;
  text-align: center;
}


.btn {
  text-decoration: none;
  padding: 15px 40px;
}

.btn-1 {
  background: #CAFFD7;
  color: black;
  border-radius: 45px;
  transition: transform 0.1s ease;
}

.p style {
  background: #ccc;
  height: 250px;
  width: 300px;
  margin: 2rem auto;
  text-align: center;
}

footer {
  background: rgb(190, 242, 255);
  background: linear-gradient(0deg, rgba(190, 242, 255, 1) 65%, rgba(233, 250, 254, 1) 93%);
}

.paneles {
  border-radius: 10px;
  background: rgb(190, 242, 255);
  background: linear-gradient(0deg, rgba(233, 250, 254, 1) 65%, #FAB9D1 90%);
}
/* Aqui comienza el estilo del carousel */
.card{
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  padding: 10px;
  max-width: 480px;
  border: none;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(180deg, #FAB9D1 50%, #FFFFFF 50%);
}

.carousel-control-prev-icon{
  border-radius: 50%;
  background-color: #000000;
}

.carousel-control-next-icon{
  border-radius: 50%;
  background-color: #000000;
}

.carousel-indicators{
  position: relative !important;
}

.inidicators-carousel{
  height: 1rem  !important;
  width: 1rem !important;
  border-radius: 50%;
  background-color: #000000 !important;
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
  .card-full{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    padding: 10px;
    margin: 0 0.5em;
    width: calc(100%/3);
    border: none;
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(180deg, #FAB9D1 50%, #FFFFFF 50%);
  }
}
/* Aquí termina el estilo del carousel */
#imagen-contacto {
  border-radius: 10px;
}

/*Aqui empiza log in*/

.container-round{
  border-radius: 10px;
  background:  #fcfcec;
}

.anchor-text{
  color: #da0f7e;
}

.form-check-input[type="checkbox"]:checked{
  background-color:  #da0f7e;
  border-color:  #da0f7e;
}

.form-check-input[type="checkbox"]:not(:checked){
  border-color:  #da0f7e;
}

#container4{
  border-radius: 10px;
  background:  #fcfcec;
}


/* STYLE DE PRODUCTOS */
.link-no-underline, .link-no-underline-2 {
  color: inherit; /* Mantener el color del texto heredado */
  text-decoration: none; /* Quitar la subrayado */
}

.link-no-underline ,.link-no-underline-2{
  color: inherit; /* Mantener el color del texto heredado */
  text-decoration: none; /* Quitar la subrayado */
}

.link-no-underline:hover {
  color: #AD7C68; /* Mantener el color del texto heredado al pasar el cursor */
  text-decoration: none; /* Quitar la subrayado al pasar el cursor */
}

.link-no-underline-2:hover {
  color: #FFFFFF; /* Mantener el color del texto heredado al pasar el cursor */
  text-decoration: none; /* Quitar la subrayado al pasar el cursor */
}
.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nombre-producto {
  font-size: 25px;
  font-weight: 600;
}

.precio-producto {
  font-size: 33px;
  font-weight: 500;
}

.boton-agregar{
  color: #FFFFFF;
  background-color:  black;
  padding: 10px 20px;
  border-radius: 15px;
}

.boton-agregar:hover{
  transform: scale(1.1); 
  background-color: #AD7C68;
}

.titulo-productos {
  font-weight: 600;
}

#titulo-categorias {
  font-weight: 600;
}

#links-productos {
  font-size: 20px;
}
#categoria-responsive{display: none;}


.image-container-products {
  display: inline-block; /* Asegura el wrap de la imagen unicamente */
}

.image-container-products img {
  opacity:   .66;
  transition: transform 0.3s; /* Transición*/
}

.image-container-products img:hover {
  opacity:   1;
  transform: scale(1.4); 
}




.modal-header {
  background-color: pink; /* Set the header background color to pink */
  border-bottom: none; /* Remove the border at the bottom of the header */
  background-color: rgba(255, 192, 203, 0.5); 
}

.modal-body {
  background-color:  #fcfcec;
}

  #cantidades .col {
    gap: 0.5rem !important; /* Adjust the gap as needed */
  }

@media screen and (max-width: 980px) {
  #contenedor-categoria {
    display: none;
  }

  .titulo-productos {
    text-align: center;
  }
  #categoria-responsive {
    display: block;
    font-size: 100px;
  }
.boton-categoria {
  color: #FFFFFF !important;
   background-color: #AD7C68 !important;
  }
}
/* ------------------------------ */

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px
  ;min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  }
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

.minus:hover{
  background-color: #717fe0 !important;
}
.plus:hover{
  background-color: #717fe0 !important;
}